/* Align the content in the center of the column, 
and distribute each item with the 
same amount of space around them. */

body {
  margin: 20px;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

.container {
  background-color: #F0F0F0;
  height: 500px;
    /* make flex container */
    display:flex;
    /* center items in flex container on the cross 
    axis */
    align-items: center;
    /*to spread out the items with equal
     space around each item*/
    justify-content: space-around;
}


.box {
  padding: 40px 55px;
  background-color: #00AFEF;
  color: #fff;
  border: solid 1px #777;
}
