body {
    background-color: rgb(154, 177, 240);
}

header div {
    text-align: center;
}
header div img {
  width: 500px;
}

div.racer {
    width: 150px;
}

div.racer img {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 100px;
}

section#awards {
    background-image: url("./img/podium.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 300px;
    width: 600px;

}
section.spectators {
    border-top: 5px black solid;
    padding-top: 50px;
    width: 50%;
    margin-top: 50px;
}


main,
section#awards,
section.spectators {
    display: flex;
}

main {
    flex-direction: column;
    align-items: center;
}

section.spectators,
section#awards {
    justify-content: space-around;
    flex-direction: row-reverse;
}

div.second {
    align-self: center;
}

div.third {
    align-self: flex-end;
    padding-bottom: 30px;
}